/*
	colors 
 */
$color-white: #ffffff;
$color-black: #000000;

$color-primary: #7ed7d7;
$color-text-primary: $color-black;

$color-text-error: #fd5812;

$color-background-opacity: rgba(0, 0, 0, 0.5);

/*
	animation
 */
$transition: all 0.2s ease-in-out;