@use "sass:map";

@use '@/assets/styles/vars' as *;

$themes: (
	primary: (color-text: $color-text-primary,
		color-background: $color-primary,
		color-border: $color-primary,
	),

	secondary: (color-text: $color-white,
		color-background: #6c757d,
		color-border: #6c757d,
	),

	ligth: (color-text: $color-white,
		color-background: #28a745,
		color-border: #28a745,
	),

	dark: (color-text: $color-white,
		color-background: #dc3546,
		color-border: #dc3545,
	),
);

.card {
	border-radius: 30px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 50px;
	overflow: hidden;

	&__title {
		text-align: center;
	}

	&__text {
		text-align: center;
	}

	&__image {
		width: 100%;
		height: auto;
		object-fit: cover;
		object-position: center;
		border-radius: 10px;
	}

	@each $theme, $colors in $themes {
		&__theme-#{$theme} {
			background-color: map.get($colors, color-background);
			color: map.get($colors, color-text);
			border: 1px solid map.get($colors, color-border);

			// &:hover:not(.button--disabled):not(.button--loading) {
			// 	background-color: map-get($colors, color-hover);
			// 	border-color: map-get($colors, color-hover);
			// }

			// &:active:not(.button--disabled):not(.button--loading) {
			// animation: press 0.2s ease-in-out;
			// transform: scale(0.98);
			// outline: none;
			// box-shadow: 0 0 0 3px rgba(map-get($colors, color-background), 0.3);
			// }

			// &:focus {
			// 	outline: none;
			// 	box-shadow: 0 0 0 3px rgba(map-get($colors, color-background), 0.3);
			// }
		}
	}
}